 /* label color */
   .input-field label {
     color: #000;;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #eee;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #eee;
     box-shadow: 0 1px 0 0 #eee;
   }
/*Focus color for search icon when active*/
   .input-field
   .prefix.active{
    color:#eee;
   }
   /*Custom Size for Icons*/
   .md-60{
    font-size: 60px;
    color: rgb(35, 37, 35);
   }
   /*Setting styles for font*/
   .edit_label{
    font-size: 25px;
    margin-left: 5px;
    color: rgb(35, 37, 35);
   }
   /*Setting the hover color for Labels*/
   .hoverColor:hover {
    color: white;
}
/*Setting custom height for the modal*/
#modal1 {
  height: 300px !important;
}
