body {
	background-color: #00897b;
}
.flow-text {
	font-size: 30px;
	color: #eee;
}
.class_2 {
padding-top: 50px;
}
.teal.lighten-2 {
    background-color: rgba(77, 182, 172, 0) !important;
    margin-top: 250px;
  }